@charset "UTF-8";
.contenedor {
  height: auto; }

.opciones {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: wheat;
  height: 100%; }

.banner {
  background-image: url(../../images/gal3.png);
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  margin: 0%; }

.bannerC {
  background-image: url(../../images/gal8.png);
  height: 420px; }

.bannerS {
  background-image: url(../../images/gal9.png);
  height: 420px; }

#bannert {
  background-image: url(../../images/gal10.png);
  height: 300px; }

.logoB {
  height: 300px;
  max-width: -webkit-fill-available;
  margin: 1%; }

#textobanner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #deb88794;
  align-items: baseline;
  width: 70%;
  padding: 0.5%;
  text-align: end; }

#tendencias {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.tUno {
  margin: 2% 2% 2% 2%;
  height: auto;
  width: 98%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 2%;
  align-items: inherit;
  align-content: center;
  text-align: center; }

.tUno-texto {
  height: auto;
  width: 100%;
  background: #f5deb3;
  text-align: center; }

.coleccion {
  color: #ffffff;
  font-family: 'Lovers Quarrel', bold;
  font-size: 75px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%; }

.imgdiv {
  height: auto;
  padding: 0;
  margin: 3%; }

.f-redes {
  height: auto; }

.cont-redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.rrss {
  height: 30px;
  width: 30px;
  padding: 3px; }

.logo {
  height: 100px;
  margin-top: 15px; }

#foot-text {
  font-family: none;
  font-size: revert; }

.atras {
  color: wheat; }

#nos-tit {
  font-family: monospace;
  text-decoration: none; }

#nos {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

/*IDEA- AGREGAR HOVERPARA PROX ENTREGA SOBRE EL STAFF*/
.names {
  text-align: -webkit-center;
  background: wheat;
  width: 95%; }

.card-body {
  background-color: wheat; }

.localName {
  display: inline-flex;
  flex-direction: column-reverse;
  font-family: 'Lovers Quarrel', cursive;
  font-size: 35px;
  text-align: center; }

#locales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px; }

.localA {
  height: fit-content;
  padding: 10px;
  background-color: lightcoral;
  margin: 45px; }

#msj {
  min-width: auto; }

/*agregado de mi otro css -CHEQUEAR*/
.bg-light {
  background-color: lightcoral !important; }

body {
  margin: 0 auto; }

.banner {
  background-image: url(../images/banner.png);
  /* CODIGO DE ARRIBA SÓLO LO LEE ASÍ Y NO URL (./IMAGES...)*/
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  margin: 0%; }

nav {
  height: auto; }

.opciones {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: lightcoral;
  height: 100%; }

.navbar-light .navbar-brand {
  font-family: "Quicksand" !important;
  color: rgba(255, 255, 255, 0.9); }

.corona {
  max-width: 35px;
  margin: 0;
  text-align: center; }

.display-4 {
  font-family: inherit;
  color: whitesmoke; }

.lead {
  font-size: 4rem;
  font-family: auto; }

#locales {
  flex-wrap: nowrap;
  justify-content: space-around; }

h5 {
  font-size: 2rem;
  font-family: 'Lovers Quarrel';
  color: black; }

.funcion {
  background-color: lightcoral;
  font-size: 15px; }

.portada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

h1 {
  color: #AB8E5D;
  font-family: 'Lovers Quarrel', bold;
  font-size: 45px;
  text-align: left;
  text-decoration: underline;
  margin-left: 5%;
  margin-right: 5%; }

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  color: black; }

p {
  font-family: 'quicksand', cursive;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center; }

.final {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  background-color: black;
  color: whitesmoke;
  font-family: 'Quicksand'; }

.htmls {
  font-style: italic;
  letter-spacing: 3.648px;
  margin-top: 180px;
  color: #857474;
  text-align: center; }

#sobreNos {
  font-family: 'Quicksand';
  font-size: 20px; }

.contenedorDos {
  height: auto;
  display: grid;
  grid-template-rows: 30% 7% 40% 7%;
  grid-template-columns: 100%;
  grid-template-areas: "header" "menu" "contenido" "footer"; }

#formulario {
  text-align: center;
  background-color: #AB8E5D;
  margin: auto; }

li {
  list-style-type: none; }

legend {
  font-family: 'Quicksand', bold;
  font-size: 21px;
  letter-spacing: 2.5px;
  color: whitesmoke;
  background-color: #AB8E5D;
  text-decoration: underline; }

#locales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.localA {
  height: fit-content;
  padding: 10px;
  background-color: lightcoral;
  margin: 45px; }

#estiloUno {
  color: #AB8E5D;
  text-align: center;
  font-family: 'Lovers Quarrel', cursive;
  text-decoration: underline;
  font-size: 55px; }

#estiloDos {
  color: green; }
