<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <link rel="stylesheet" href="../assets/css/estilo2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    
    <title>Bridal Boutique- Colecciones </title>
    <meta name="description" content="Nuestras 3 tiendas te esperan para brindarte lo mejor. Buenos Aires, Zona Norte y CABA. Cómo llegar.">
    <meta name="keywords" content= "COLECCIONES, VESTIDOS, TOCADOS, RAMOS, COMPRAR, SHOP, LOCAL, TIENDAS DE NOVIA, VESTIDOS DE NOVIA">
  </head>
<body>
    <div class="contenedor">
    
    <nav>
        <ul class="opciones">
        <li> <img src="../images/redes.png" height="50px" width="auto" alt=""> </li>
        <li><a href="../index.html"> <h2>Home</h2></a></li>
        <li><a href="../views/nosotras.html"> <h2>Nosotras</h2></a> </li>
        <li><a href="../views/contacto.html"> <h2>Contacto</h2></a> </li>
        <li><a href="../views/colecciones.html"><h2>Colecciones</h2> </a></li>
        <li><a href="../views/preguntas.html"><h2>Preguntas frecuentes</h2></a> </li>
        </ul>   
    </nav>

<header class="bannerS">
  <li> <img class="logoB"  src="../images/logo.png" alt=""> </li>      
</header>

<div><h1 class="marca" > Nuestras Colecciones</h1></div>
<div>
  <p>Hacé click en la galería y accedé al muestrario del SHOP!</p>
</div>

<section id="gal">

  <div class="galeria"> 
    <div id="pos"><a href="../views/galeria.html"> <img id="hor" src="../images/colection/1.png" alt=""> </a>
    </div>
    <div id="pos"><a href="../views/galeria.html"><img id="ver" src="../images/colection/c1.png" alt=""> </a>
    </div>
    <div id="pos"><a href="../views/galeria.html"> <img id="ver" src="../images/colection/c2.png" alt=""> </a>
    </div>
  </div>

  <div class="galeria"> 
    <div id="pos"><a href="../views/galeria.html"> <img id="ver" src="../images/colection/C3.png" alt=""> </a>
    </div>
    <div id="pos"><a href="../views/galeria.html"><img id="hor" src="../images/colection/2.png" alt=""> </a>
    </div>
    <div id="pos"><a href="../views/galeria.html"> <img id="ver" src="../images/colection/c4.png" alt=""> </a>
    </div>
  </div>

</section>

  <h1> Nuestro locales</h1>

    <main id="locales">
          <div class=".col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4651.0209756185595!2d-58.52117902992014!3d-34.48339728351686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb040d363f587%3A0x78e513cecbc25f7f!2sHip%C3%B3dromo%20de%20San%20Isidro!5e0!3m2!1ses-419!2sar!4v1619217436541!5m2!1ses-419!2sar" width="286" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="card-body">
                  <h5 class="localName"> Sucursal San Isidro</h5>
                  <p class="card-text"> Montes de Oca 4298.</p>
                  <a href="../views/contacto.html" class="btn btn-primary">¡Quiero una cita!</a>
                </div>
              </div>
        </div>

            <div class=".col-sm-12 col-md-6 col-lg-3 pb-4">
                <div class="card" style="width: 18rem;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13138.183979479598!2d-58.438287730224616!3d-34.590352599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58811f0333b%3A0xf221fcdd6ed0e7ca!2sHab%C3%ADa%20Una%20Vez!5e0!3m2!1ses-419!2sar!4v1619217982668!5m2!1ses-419!2sar" width="286" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="card-body">
                      <h5 class="localName"> Sucursal Palermo</h5>
                      <p class="card-text"> Calle Niceto Vega 1574 Piso 5 Dpto A.</p>
                      <a href="../views/contacto.html" class="btn btn-primary">¡Quiero una cita!</a>
                    </div>
                  </div>
            </div>
            
            <div class=".col-sm-12 col-md-6 col-lg-3 pb-4">
                <div class="card" style="width: 18rem;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52631.00120927067!2d-58.91207794787558!3d-34.46642219143818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9cd5b1115db5%3A0x17777cbbed83998a!2sVestidos%20de%20Ensue%C3%B1o!5e0!3m2!1ses-419!2sar!4v1619217910672!5m2!1ses-419!2sar" width="286" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="card-body">
                      <h5 class="localName">Sucursal Pilar</h5>
                      <p class="card-text">Chacabuco 317.</p>
                      <a href="../views/contacto.html" class="btn btn-primary">¡Quiero una cita!</a>
                    </div>
                  </div>
            </div>
    </main>

<footer class="final">
            
  <a href="index.html">
  <img class="logo" src="../images/logo2.png" alt=""></a>
  <a class="atras" href="../index.html">- Volver al Inicio -</a>
  <br>
      <li> <img class="rrss" src="../images/footer/msg.png" alt=""> hola@bridalboutique.com.lam</li>
      <p id="foot-text">- Powered by Carolina Robles- Copyright 2021 © Evergold, Todos los derechos reservados - </p>
    
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>