body{ 
  margin: 0 auto;
}
  
.contenedor{
  height: auto;
}

.opciones{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type:none;
  background-color: wheat;
  height: 100%;
}

@media only screen and (max-width: 768px) { 
  .opciones{
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) { 
  .opciones{
    flex-direction: column;
  }
}

.banner{
  background-image: url(../../images/banner/index.png);
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  margin: 0%;
}

.bannerC{
  background-image: url(../../images/banner/b1.png);
  height: 420px;
}

.bannerS{
  background-image: url(../../images/banner/b2.png);
  height: 420px;
}

#bannert{
  background-image: url(../../images/banner/b3.png);
  height: 300px;
}

.logoB{
  height: 300px;
  max-width: -webkit-fill-available;
  margin: 1%;
}

#textobanner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #deb88794;
  align-items: baseline;
  width: 70%;
  padding: 0.5%;
  text-align: end;
}

#princ{
  letter-spacing: 5px;
  font-size: 20px;
}

#tendencias{
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tUno{
  margin: 2% 2% 2% 2%;
  height: auto;
  width: 98%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 2%;
  align-items: inherit;
  align-content: center;
  text-align: center;
}

.marca{
  text-align: center;
  font-size: 7em;
  text-decoration: none;

}

.tUno-texto{
  height: auto;
  width: 100%;
  background: #f5deb3;
  text-align: center;
}

.coleccion{
  color: #ffffff;
  font-family: 'Lovers Quarrel', bold;
  font-size: 75px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

a{
  font-family: 'quicksand';
  color: #AB8E5D;
}

a:hover{
  color: black;
}

.boton{
  justify-content: center;
  background-color: white;
  color: black;
  font-family: 'quicksand';
  border: 2px solid black;
  border-radius: 50px;
  padding: 15px; 
  margin: 5px;
}

.imgdiv{
  height: auto;
  padding: 0;  
  margin: 3%;
}

#video{
  width: 73%;
  height: auto;
  margin-bottom: 15px;
}

.desc{
  background-color: wheat;
  margin: 10px;

  &__texto{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: none;
    
  }
}

.f-redes{
  height: auto;
}

.cont-redes{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.rrss{
  height: 30px;
  width: 30px;
  padding: 3px;
}

.logo{
  height: 100px;
  margin-top: 15px;
}

#foot-text{
  font-family: none;
  font-size: revert;
}

.atras{
  color: wheat;
}

#nos-tit{
  font-family: monospace;
  text-decoration: none;
  letter-spacing: 5px;
}

#nos{
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul{
  margin: 1rem;
}

.names{
  text-align: -webkit-center;
  background: wheat;
  width: 95%;
}

.card-body{
  background-color: wheat;
  text-align: center;
}

.localName{
  display: inline-flex;
  flex-direction: column-reverse;
  font-family: inherit;
  font-size: 15px;
  text-align: center;
}

#locales{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 12px;
}

#msj{
  min-width: auto;
}

nav{
  height: auto;
}

.portada{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
}
  
h1{
  color: #AB8E5D;
  font-family: 'Lovers Quarrel', bold;
  font-size: 45px;
  text-align: center;
  text-decoration: underline;
  margin-left: 5%;
  margin-right: 5%;
}
  
h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  color: black
}

h3{
  font-family: auto;
  }

h4{
  font-family: 'Quicksand';
  font-size: 12px;
}
  
h5{
  font-size: 2rem;
  font-family: 'Lovers Quarrel';
  color: black;
}

p{
  font-family: 'quicksand', cursive;
  font-size: 15px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
  
.final{
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  background-color: black;
  color: whitesmoke;
  font-family: 'Quicksand';
}
  
#sobreNos{
  font-family: 'Quicksand';
  font-size: 15px;
  text-align: end;
}
  
#formulario{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 3%;
  font-size: 0.8rem;
}
  
li{
  list-style-type: none;
}
  
legend{
  text-align: center;
  font-family: 'Quicksand', bold;
  font-size: 21px;
  letter-spacing: 2.5px;
  color:whitesmoke;
  background-color: #AB8E5D;
  text-decoration: underline;
  width: auto;
}
  
#estiloUno{
  color: #AB8E5D;
  text-align: start;
  font-family: 'fangsong';
  font-size: 25px;  
}

#fix{
  margin-top: 19px;
}

.textoP{
  text-align: justify;
}

#serv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.servicio{
  height: 20vh;
  max-width: -webkit-fill-available;
  margin: 1%;
}

.sv{
  text-align: center;
}

.cont{
  font-family: serif;
  font-size: 75px;
}

#id{
  text-align: center;
}

.galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

#hor{
  width: 700px;
  height: 300px;
}

#ver{
  width: 300px;
  height: 300px;
}

.btn-primary {
  color: #AB8E5D;
  background-color: white;
  border-color: black;
}

#tabla{
  text-align: center;
  display: grid;
}

.preg{
  margin: 3%;
}

*{
  box-sizing: border-box;
}

#body-gal{
  background-color: wheat;
  padding: 20px;
  font-family: 'quicksand';
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #AB8E5D;
}

.btn-active {
  background-color: black;
  color: #AB8E5D;
}

/* media queries para seccion colecciones!*/
@media only screen and (max-width: 1309px){
  .galeria{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #hor{
    width: 300px;
    height: 200px;
  }

  #pos{
    text-align: center;
  }
}

@media only screen and (max-width: 320px) { 
  .galeria{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #hor {
    width: 300px;
    height: 200px;
  }
}

